.buttonContainer{
    background-color: #0F62FE;
    border: none;
    cursor: pointer;

    height: 48px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;

    color: white;
}

.buttonContainer:hover{
    background-color: #0353E9;
}

.buttonContainer:active{
    background-color: #002D9C;
}